<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Cadastro de ferramentas</title>
		<link rel = "stylesheet" href="estilo.css"/>
	</head>
	<body>
		<div class="caixa">
		<h1>Cadastro de ferramentas</h1>
		<form name= "cadastro_f" method="post" id="cadastro_f">
			<label>Nome da ferramenta: <input type="text" name="nome_f" placeholder="Digite o nome da ferramenta"></label><br><br>
			<label>Informe a quantidade em estoque: <input type="number" name="qtdeF" min="1"></label><br><br>
			<input type="button" class="botao" value="Cadastrar">
		</form>
		</div>
	</body>
</html>
